# ==========================================
# REGLAS GENERALES Y BACKEND
# ==========================================
node_modules/
.env
uploads/
.vscode/
.DS_Store
Thumbs.db

# ==========================================
# REGLAS ESPECÍFICAS PARA EL FRONTEND (ANGULAR)
# ==========================================
# Esto asegura que ignore el node_modules y el dist de Angular estés donde estés
frontend/industrial-map/node_modules/
frontend/industrial-map/dist/
frontend/industrial-map/.angular/
frontend/industrial-map/tmp/
frontend/industrial-map/out-tsc/

# Logs de error de paquetes
npm-debug.log*
yarn-error.log*

# IDEs y Editores
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?